@media (min-width: 768px){
.userImages{
    width: 500px
}
}

@media (min-width: 360px){
    
    .userImagesContainer{
        display: flex; 
        flex-direction: column;
        
    }
    .userImages{
        width: 350px;
        }
           
}
.returnedImages{
    display: flex;
     justify-content: center;
     flex-direction: column;
     margin-top: 40px;
   }
   
   .userImages{
    display: flex;
    align-self: center;
   }

